<div class="container">
  <h1>
    <%= @group.name %>
  </h1>

  <h2>Users in this Group</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Role</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td>
            <%= user.first_name %>
          </td>
          <td>
            <%= user.last_name %>
          </td>
          <td>
            <%= user.role %>
          </td>
        </tr>
        <% end %>
    </tbody>
  </table>

  <%= link_to 'Edit Group' , edit_group_path(@group), class: 'btn btn-primary' %>
    <%= link_to 'Back to Groups' , groups_path, class: 'btn btn-primary' %>
      <%= link_to 'Delete Group' , group_path, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' },
        class: 'btn btn-danger' %>

</div>